<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd">
   <bean id="authordetail" class="com.incapp.SpringJavaBook.AuthorDetail">
   		<property name="name" value="Priyanka Singh"></property>
   		<property name="age" value="25"></property>
   		<property name="phone" value="9795923831"></property>
   </bean>
   <bean id="book" class="com.incapp.SpringJavaBook.JavaBook" autowire="byName">
   		<property name="price" value="250.0"></property>
   		<property name="name" value="Core-Java Book"></property>
   		<!-- 
   		<property name="authordetail" ref="a"></property>
   		 -->
   </bean>
</beans>